/*--------------------------------------
GLOBAL
---------------------------------------*/
html{
	/*overflow:hidden;*/
	}

a {
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition: .3s;
	transition:.3s;
	text-decoration:none;
	color:white;
}


a:hover {
	text-decoration:none;
	color:#9c0238;
}

strong {
	color:#9c0238;
}

#containall{
}

.contain{
	padding-bottom:100px;
}
.content{
	width:auto;
}

#content2{
}

#contain2 img{
	max-width:100%;
	position:absolute;
	left:0;
	-webkit-filter: brightness(60%);
	-o-filter: brightness(60%);
	-moz-filter: brightness(60%);
}

.sectiontitle{
	font-family:'Droid Serif', serif;
	text-transform:lowercase;
	font-style:italic;
	letter-spacing:1.5px;
	text-shadow:1px 2px 0px #000000;
}

.navbar-fixed-top{
	display:none;
}

.fixed{
	position:fixed;
	background:white;
}

body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	background:#0a0a0a;
}

.ls-wrapper, .ls-responsive,
#drink-slider-wrapper {
	max-width: 1000px;
}

.logo {
	display: inline-block;
}

.nbar {
	float: right;
	margin-right: 120px;
	margin-top: 33px;
}

.nbar li {
	display: inline-block;
	font-size: 16px;
	padding-left: 35px;
}

.panel {
	width: 1000px;
}

.row {
	margin:auto !important;
}

.section-header {
	text-align: center;
	font-size: 50px;
}

.tab1, .tab2, .tab3 {
	width: 200px;
}

/*------------------------------------
HAPPY HOUR
--------------------------------------*/
.address-top {
	font-size: 18px;
	line-height: 1.2em;
}

.day {
	font-size: 18px;
	line-height: 1.2em;
	padding-bottom: 17px;
	text-align: left;
	width: 220px;
	margin-left: -160px;
}

.dayofweek {
	font-size: 20px;
}

.days, .times {
	list-style: none;
	display: inline-block;
	text-align: left;
	font-size: 16px;
	line-height: 1.2em;
	margin: 35px 17px 45px 0px;
}

.day-dscpn, .brand {
	font-size: 14px;
	line-height: 0.5em;
}

.day-dscpn, .specials {
	list-style: none;
	display: inline-block;
	font-size: 16px;
}

.day-dscpn li {
	text-align: right;
	padding-bottom: 16px;
	font-size: 14px;
	margin-left: -50px;
	line-height: 1.6em;
}

.direction {
	font-size: 12px;
}

.happyhour {
	line-height: .6em;
	padding-bottom: 27px;
}

.hours {
	margin-top: -3%;
	margin-bottom: 80px;
}

.hours-content {
	margin-left: 5%;
}

.hours-head {
	margin-top: 0;
	padding-top: 0;
}

.hours-left {
	float: left;
	margin-left: 4%;
	/*border-right: 4px solid #555;*/
	padding-right: 20px;
	display: inline-block;
	padding-bottom:40px;
}

.hours-right {
	display: inline-block;
	margin-right: 100px;
}

.special {
	font-size: 15px;
}

.specials {
	text-align: left;
	margin-left: 130px;

}

/*-----------------------------------------
DRINKS
------------------------------------------*/
.addon {
}

.beername {
	margin-left: -30px;
	display: inline-block;
	float: left;
	width:70%;
}

.beername li {
	list-style: none;
	text-align: left;
	padding-bottom: 20px;
	font-size: 24px;
	line-height: .95em;
}

.beerprice {
	margin-right: 30px;
}

.beerprice li {
	list-style: none;
	font-size: 18px;
	line-height: 1.1em;
	text-align: right;
	padding-bottom: 18px;
	padding-top: 1px;
}

.bp li {
	margin-bottom: 7px;
}

.cham {
	line-height: .3em;
}

.cocktail {
	width: 400px;
	margin-left: 45px;
}

#drinks {
	margin-left: 3%;
}

#drinks-head {

}

.drink-img {
	margin-bottom: 50px;
}

#drink-slider {
	margin-left: 3%;
}

#drink-slider-wrapper {
	text-align: center;
}

#drink-slider-nav-ul {
	margin-left: 27%;
	margin-bottom: 7%;
}

#drink-slider-nav-ul li {
	width: 200px;
}

.float-price {
	list-style: none;
	font-size: 18px;
	line-height: 1.1em;
	text-align: right;
	padding-bottom: 18px;
	padding-top: 1px;
}

.float-price li {
	padding-bottom: 50px; 
}

.float-name {
	margin-left: -30px;
	display: inline-block;
	float: left;
	width: 400px;
}

.float-name li {
	list-style: none;
	text-align: left;
	padding-bottom: 20px;
	font-size: 24px;
	line-height: .8em;
}

#floats {
	width: 100px;
	margin-left: 190px;
	margin-bottom: 20px;
}

#large-price {
	padding-bottom: 0;
	padding-top: 10px;
}

#makgulu {
	padding-top: 74px;
}

#price2 {
	padding-bottom: 47px;
}

#price4 {
	margin-top: -23px;
	font-size: 16px;
}

.soju, .sojuprice {
	margin-top: 30px;
}

.soju-size {
	font-size: 18px;
}

.special-dscpn {
	line-height: 1.2em;
}

.specialty-name {
	margin-left: -30px;
	display: inline-block;
	float: left;
	margin-top: 10px;
	width: 70%;
}

.specialty-name li {
	list-style: none;
	text-align: left;
	padding-bottom: 30px;
	font-size: 24px;
	line-height: .8em;
	width: 300px;
}

.specialty-price {
	margin-top: 23px;
}

.specialty-price li {
	list-style: none;
	font-size: 18px;
	line-height: 1.1em;
	text-align: right;
	padding-bottom: 55px;
	padding-top: 1px;
}

.tap-left {
	border-right: 1px dotted #555;
	height: 480px;
}

.tap-left h2 {
	text-align: left;
	margin: 0px 0px 40px 100px;
}

.tap-right h2 {
	margin-top: 0px;
}

.virgin-left {
	height: 480px;
	margin-left: 20%;
}

.virgin-name {
	margin-left: -30px;
	display: inline-block;
	float: left;
}

.virgin-name li {
	list-style: none;
	text-align: left;
	padding-bottom: 20px;
	font-size: 24px;
	line-height: .8em;
	width: 350px;
}

.virgin-price {
	margin-right: 30px;
}

.virgin-price li {
	list-style: none;
	font-size: 18px;
	line-height: 1.1em;
	text-align: right;
	padding-bottom: 18px;
	padding-top: 1px;
}

#w {
	margin-top: 10px;
	text-align: center;
}

.wine {
	padding-top: 40px;
}

#yona {
	margin-top: 15px;
	margin-bottom: 20px;
}

/*---------------------------------------
EATS
----------------------------------------*/

#eat-slider-nav-ul {
	margin-left: 35%;
	margin-bottom: 7%;
}

.eats-list {
	margin-left: -40px;
	margin-top: 40px;
}

.eats-list li {
	display: inline-block;
	list-style: none;
	padding: 0px 10px;
}

.entrees-left {
	border-right: 1px dotted #ccc;
	padding-right: 100px;
	margin-left: -65px;
}

.entrees-right {
	height: 500px;
}

#hotplate {
	padding-top: 16px;
}

.tapas li, .tapas2 li {
	list-style: none;
	text-align: left;
	padding-bottom: 20px;
	font-size: 22px;
	line-height: .8em;
}

.tapas {
	margin-left: 30px;
	margin-right: 20px;
}

.tapas2 {
	width: 320px;
}

.tapas-left {
	margin-left: 40px;
	margin-right: 50px;
}

.tapas-price li, .tapas-price2 li {
	list-style: none;
	font-size: 18px;
	line-height: 1.0em;
	text-align: right;
	padding-bottom: 18px;
	padding-top: 1px;
}

.tapas-price {
	margin-right: 50px;
	padding-right: 115px;
	border-right: 1px dotted #555;
	margin-left: -20px;
}

.noodles li, .soups li, 
.rice li, .hot li {
	list-style: none;
	padding-bottom: 15px;
}

.noodle-item, .noodle-price,
.soup-item, .soup-price,
.rice-item, .rice-price, 
.hot-item, .hot-price {
	display: inline-block;
}

.noodle-item, .soup-item, .rice-item, .hot-item {
	text-align: left;
	font-size: 22px;
}

.noodle-price, .soup-price, .rice-price, .hot-price {
	text-align: right;
	font-size: 18px;
}

#rice2 {
	padding-bottom: 20px;
}

#rice1 {
	padding-bottom: 27px;
}

.rice-price, .soup-price {
	vertical-align: top;
}

.rice-price li {
	padding-bottom: 10px;
}

.noodle-price li, .hot-price li {
	padding-top: 5px;
}

.soup-price li {
	padding-bottom: 20px;
}

#soup1 {
	padding-top: 5px;
	padding-bottom: 50px;
}

#soup2 {
	padding-top: 3px;
}

#soup3 {
	padding-bottom: 50px;
}

/*--------------------------------------
ABOUT
---------------------------------------*/
.about-img {
	display: block;
	margin-left: 18%;
}

.about-left {
	display: block;
	margin-left: 135px;
	margin-top: 30px;
}

.about-left p {
	font-size: 17px;
	text-align: left;
	width: 335px;
	line-height: 1.3em;
}

.about-quote h4 {
	text-align: left;
	line-height: 1.3em;
	font-size: 22px;
	margin-top: 28px;
	margin-left: -35px;
	width: 340px;
}

#about-slider {
	margin-left: 2%;
}

#about-slider-nav-ul {
	margin-left: 34.5%;
	margin-bottom: 7%;
}


/*--------------------------------------
CONTACT
---------------------------------------*/
.contact-img {
	display: block;
	margin-left: 26%;
	padding-bottom: 3%;
}
.address-contact {
	font-size: 18px;
}

.border {
	border-right: 1px dotted #555;
}

.contact {
	margin-left: 7%;
}

.contact, .location {
	margin-top: 0px;
	padding-top: 0;
}

.contact-head {
	margin-bottom: 100px;
	margin-left: 6%;
}

.days-contact, .times-contact {
	list-style: none;
	display: inline-block;
	text-align: left;
	line-height: 1.2em;
	margin-left: 4%;
}

.days-contact {
	font-size: 16px;
}

.hours-title {
	margin-left: 40px;
}

.location {
	height: 200px;
}

.location h3 {
	margin-bottom: 35px;
}

.number {
	margin-top: 35px;
	font-size: 20px;
}

.times-contact {
	line-height: 1.4em;
}



