/*--------------------------------------
GLOBAL
---------------------------------------*/
body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.ls-wrapper, .ls-responsive,
#drink-slider-wrapper {
	max-width: 1000px;
}

.logo {
	display: inline-block;
}

.nbar {
	float: right;
	margin-right: 120px;
	margin-top: 33px;
}

.nbar li {
	display: inline-block;
	font-size: 16px;
	padding-left: 35px;
}

.panel {
	width: 1000px;
}

.row {
	margin:auto !important;
}

.section-header {
	text-align: center;
	font-size: 50px;
}

.tab1, .tab2, .tab3 {
	width: 200px;
}

/*------------------------------------
HAPPY HOUR
--------------------------------------*/
.address-top {
	font-size: 18px;
	line-height: 1.2em;
}

.day {
	font-size: 18px;
	line-height: 1.2em;
	padding-bottom: 17px;
	text-align: left;
	width: 220px;
	margin-left: -160px;
}

.dayofweek {
	font-size: 20px;
}

.days, .times {
	list-style: none;
	display: inline-block;
	text-align: left;
	font-size: 16px;
	line-height: 1.2em;
	margin: 35px 17px 45px 0px;
}

.day-dscpn, .brand {
	font-size: 14px;
}

.day-dscpn, .specials {
	list-style: none;
	display: inline-block;
	font-size: 16px;
}

.day-dscpn li {
	text-align: right;
	padding-bottom: 16px;
	font-size: 14px;
	margin-left: -50px;
	line-height: 1.6em;
}

.direction {
	font-size: 12px;
}

.happyhour {
	line-height: .6em;
	padding-bottom: 27px;
}

.hours {
	margin-top: -3%;
	margin-bottom: 80px;
}

.hours-head {
	margin-top: 0;
	padding-top: 0;
}

.hours-left {
	float: left;
	margin-left: 4%;
	border-right: 5px solid black;
	padding-right: 20px;
	display: inline-block;
}

.hours-right {
	display: inline-block;
	margin-right: 100px;
}

.special {
	font-size: 15px;
}

.specials {
	text-align: left;
	margin-left: 130px;

}

/*-----------------------------------------
DRINKS
------------------------------------------*/
.beername {
	margin-left: -30px;
	display: inline-block;
	float: left;
}

.beername li {
	list-style: none;
	text-align: left;
	padding-bottom: 20px;
	font-size: 24px;
	line-height: .8em;
}

.beerprice {
	margin-right: 30px;
}

.beerprice li {
	list-style: none;
	font-size: 18px;
	line-height: 1.1em;
	text-align: right;
	padding-bottom: 18px;
	padding-top: 1px;
}

.bp li {
	margin-bottom: 7px;
}

.cham {
	line-height: .3em;
}

.cocktail {
	width: 400px;
}

.drink-img {
	margin-bottom: 50px;
}

#drink-slider-nav-ul {
	margin-left: 22.5%;
	margin-bottom: 7%;
}

#drink-slider-nav-ul li {
	width: 200px;
}

#makgulu {
	padding-top: 74px;
}

.soju, .sojuprice {
	margin-top: 30px;
}

.specialty-left {
	height: 480px;
}

.specialty-name {
	margin-left: -30px;
	display: inline-block;
	float: left;
}

.specialty-name li {
	list-style: none;
	text-align: left;
	padding-bottom: 20px;
	font-size: 24px;
	line-height: .8em;
	width: 300px;
}

.tap-left {
	border-right: 5px solid black;
	height: 480px;
}

.tap-left h2 {
	text-align: left;
	margin: 0px 0px 40px 100px;
}

.tap-right h2 {
	margin-top: 0px;
}

.virgin-left {
	height: 480px;
	margin-left: 20%;
}

.virgin-name {
	margin-left: -30px;
	display: inline-block;
	float: left;
}

.virgin-name li {
	list-style: none;
	text-align: left;
	padding-bottom: 20px;
	font-size: 24px;
	line-height: .8em;
	width: 350px;
}

.virgin-price {
	margin-right: 30px;
}

.virgin-price li {
	list-style: none;
	font-size: 18px;
	line-height: 1.1em;
	text-align: right;
	padding-bottom: 18px;
	padding-top: 1px;
}

#w {
	margin-top: 10px;
	text-align: center;
}

.wine {
	padding-top: 40px;
}

#yona {
	margin-top: 15px;
	margin-bottom: 20px;
}

/*---------------------------------------
EATS
----------------------------------------*/
#eat-slider-nav-ul {
	margin-left: 31%;
	margin-bottom: 7%;
}

.eats-list {
	margin-left: -40px;
	margin-top: 40px;
}

.eats-list li {
	display: inline-block;
	list-style: none;
	padding: 0px 10px;
}

.tapas li, .tapas2 li {
	list-style: none;
	text-align: left;
	padding-bottom: 20px;
	font-size: 22px;
	line-height: .8em;
}

.tapas {
	margin-left: 30px;
	margin-right: 20px;
}

.tapas-price li, .tapas-price2 li {
	list-style: none;
	font-size: 18px;
	line-height: 1.0em;
	text-align: right;
	padding-bottom: 18px;
	padding-top: 1px;
}

.tapas-price {
	margin-right: 50px;
	padding-right: 115px;
	border-right: 5px solid black;
	margin-left: -20px;
}

/*--------------------------------------
ABOUT
---------------------------------------*/
.about-img {
	display: block;
	margin-left: 18%;
}

.about-left {
	display: block;
	margin-left: 135px;
	margin-top: 30px;
}

.about-left p {
	font-size: 17px;
	text-align: left;
	width: 335px;
	line-height: 1.3em;
}

.about-quote h4 {
	text-align: left;
	line-height: 1.3em;
	font-size: 22px;
	margin-top: 28px;
	margin-left: -35px;
	width: 340px;
}

#about-slider-nav-ul {
	margin-left: 31.5%;
	margin-bottom: 7%;
}


/*--------------------------------------
CONTACT
---------------------------------------*/
.address-contact {
	font-size: 18px;
}

.border {
	border-right: 4px solid black;
}

.contact {
	margin-left: 4.5%;
}

.contact, .location {
	margin-top: 0px;
	padding-top: 0;
}

.contact-head {
	margin-bottom: 100px;
}

.days-contact, .times-contact {
	list-style: none;
	display: inline-block;
	text-align: left;
	line-height: 1.2em;
}

.days-contact {
	font-size: 16px;
}

.hours-title {
	margin-left: 40px;
}

.location {
	height: 200px;
}

.location h3 {
	margin-bottom: 35px;
}

.number {
	margin-top: 35px;
	font-size: 20px;
}

.times-contact {
	line-height: 1.4em;
}



